@page "/Privacy"

<div class="row">
    <div class="col-12">
        <div class="h3 pb-2 mb-4 fw-light text-primary text-uppercase border-bottom border-secondary" id="About">
            Privacy Policy.
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        My resume does not collect any data. Period.
    </div>
</div>

@code {

}
