<div class="row">
    <div class="col-12 py-5">
        <div class="row pt-5">
            <div class="col-12">
                <div class="h4 pb-2 mb-4 fw-light text-primary text-uppercase border-bottom border-secondary" id="Contact">
                    Contact.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                Phone/Text: 623-282-1141
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                Email: raylinder1@gmail.com
            </div>
        </div>
        <div class="row">
            <div class="col-12 pt-3">
                <!-- Google Calendar Appointment Scheduling begin -->
                @* <link href="https://calendar.google.com/calendar/scheduling-button-script.css" rel="stylesheet">
                <script src="https://calendar.google.com/calendar/scheduling-button-script.js" async></script>
                <script>
                    (function() {
                        var target = document.currentScript;
                        window.addEventListener('load',
                            function() {
                                calendar.schedulingButton.load({
                                    url: 'https://calendar.google.com/calendar/appointments/schedules/AcZssZ3NpekYHOkTfuMaTIcFzRRLc6-iCfAjEXL4I3jKAFEo5kIT6FVdT0ciKzPv18TNms__9832PlaO?gv=true',
                                    color: '#039BE5',
                                    label: 'Book an appointment',
                                    target,
                                });
                            });
                    })();
                </script> *@
                <!-- end Google Calendar Appointment Scheduling -->
                <a href="https://calendar.app.google/XDLr3HBUx3motSEM8" class="btn btn-primary" target="_blank">Book an appointment</a>
            </div>
        </div>

    </div>
</div>


@code {

}
