<div class="row">
    <div class="col-12 py-5">
        <div class="row">
            <div class="col-12">
                <div class="h3 pb-2 mb-4 fw-light text-primary text-uppercase border-bottom border-secondary" id="Experience">
                    Experience.
                </div>
            </div>
        </div>
        <div class="row py-5">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 text-center">
                        <span class="h5 pb-2 mb-4 fw-bolder text-primary text-uppercase border-bottom border-secondary" id="ssHeading2">
                            Years of Experience.
                        </span>
                    </div>
                </div>
                <div class="row py-5">
                    <div class="col-12">
                        <MudChart ChartType="ChartType.Donut" LegendPosition="Position.Start" Width="300px" Height="300px" InputData="@LoadXpTotals()" InputLabels="@_labels">
                        </MudChart>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 text-center">
                        <span class="h5 pb-2 mb-4 fw-bolder text-primary text-uppercase border-bottom border-secondary" id="ssHeading2">
                            Professional Experience.
                        </span>
                    </div>
                </div>
                <div class="row pt-5">
                    <div class="col-12">
                        <div class="row py-5">
                            <div class="col-8">
                                <div class="text-body-primary ps-4 py-2 text-uppercase border-start border-primary">
                                    <h5>Senior Software Engineer.</h5>
                                    <h5 class="text-primary fw-light">Adorelogic</h5>
                                    <div class="text-secondary text-uppercase small">
                                        01/2018 - 06/2024 | Remote (Scottsdale, AZ & The Woodlands, TX)
                                    </div>
                                </div>
                                <ul class="fs-6 py-3" style="list-style: disclosure-closed;">
                                    <li class="">
                                        Evaluated code and led refactoring initiatives, offering technical guidance to team members.
                                    </li>
                                    <li class="">
                                        Supported development initiatives by overseeing Neo4j-based solution designs and guided team members using Neo4j-backed graph databases.
                                    </li>
                                    <li>
                                        Engaged in hands-on development and maintenance of user-facing websites, utilizing technologies such as Blazor, ASP.NET MVC/Web API, .NET Core, RESTful/API services with token authentication, and the .NET Neo4j layer for Neo4j graph database access.
                                    </li>
                                    <li>
                                        Championed adopting in-house and industry advances in software development practices and standards.
                                    </li>
                                    <li>
                                        Demonstrated recognized expertise and strategic thinking in my designated areas, emphasizing a big-picture and visionary approach.
                                    </li>
                                    <li>
                                        Spearheaded the implementation of Neo4j as a powerful solution to meet collaboration and related data requirements.
                                    </li>
                                    <li>
                                        Proficient in data access principles and skilled in database design for graph and relational databases using Neo4j (Cypher) and SQL Server (T-SQL).
                                    </li>
                                    <li>
                                        Utilized a variety of technologies, including HTML5, CSS3, jQuery, Blazor, ASP.NET Core, C#, Entity Framework Core, PowerShell, and microservices (RESTful APIs) for the development of web-based product applications.
                                    </li>
                                    <li>
                                        Established and managed cloud-based environments using Microsoft Azure services, including Azure Storage (Queue and Blobs), Azure App Services, and Azure SQL environments.
                                    </li>
                                    <li>
                                        Created internal documentation outlining cloud-based infrastructures and web application configurations, and set up and maintained CI/CD environments.
                                    </li>
                                </ul>
                            </div>
                            <div class="col-4">
                                <div class="d-flex align-items-center justify-content-center text-center">
                                    <img src="/img/android-chrome-192x192.png" class="rounded-0 w-50" alt="..." />
                                </div>
                            </div>
                        </div>
                        <div class="row py-5">
                            <div class="col-4">
                                <div class="d-flex align-items-center justify-content-center text-center">
                                    <img src="/img/digitalairstrike_com_wp_wp-content_themes_divi-child_images_logo.png" class="rounded-0 w-75" alt="Digital Air Strike" />
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="text-body-primary ps-4 py-2 text-uppercase border-start border-primary">
                                    <h5>SOFTWARE ENGINEER III.</h5>
                                    <h5 class="text-primary fw-light">Digital Air Strike</h5>
                                    <div class="text-secondary text-uppercase small">
                                        04/2017 - 01/2018 | Scottsdale, AZ
                                    </div>
                                </div>
                                <ul class="fs-6 py-3" style="list-style: disclosure-closed;">
                                    <li>
                                        Crafted and upheld web applications for a diverse range of automotive dealership clients, encompassing names
                                        like GMC, Honda, and Toyota. These applications were developed using technologies such as ASP.NET MVC,
                                        ASP.NET Core, and RESTful/API services.
                                    </li>
                                    <li>
                                        Leveraged a comprehensive tech stack that included HTML5, CSS3, jQuery, React.js, ASP.NET MVC, ASP.NET Core,
                                        C#, T-SQL, PowerShell, and XSLT to generate ad hoc reports for a client.
                                    </li>
                                    <li>
                                        Employed databases like Microsoft SQL Server, MySQL, and MongoDB to engineer web-based product applications
                                        for clients, adhering to essential principles such as CQRS and Domain-Driven Design.
                                    </li>
                                    <li>
                                        Established and managed cloud-based environments through Microsoft Azure services, catering to clients'
                                        requirements that spanned Azure Storage (Queue and Blobs), Azure App Services, Azure SQL, Azure VM/ARM
                                        environments, Azure Microservices, Docker containers, and more.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row py-5">
                            <div class="col-8">
                                <div class="text-body-primary ps-4 py-2 text-uppercase border-start border-primary">
                                    <h5>SENIOR WEB DEVELOPER.</h5>
                                    <h5 class="text-primary fw-light">LaneTerralever</h5>
                                    <div class="text-secondary text-uppercase small">
                                        08/2016 - 02/2017 | Phoenix, AZ
                                    </div>
                                </div>
                                <ul class="fs-6 py-3" style="list-style: disclosure-closed;">
                                    <li>
                                        Utilized object-oriented programming principles for developing high-quality software components using ASP.NET MVC, Umbraco, Sitecore, and Sitefinity for multiple clients.
                                    </li>
                                    <li>
                                        Maintained a source control system for tracking project progress and changes made to the source code base over time.
                                    </li>
                                    <li>
                                        Deployed applications from the development environment to test and production environments following established release management processes.
                                    </li>
                                </ul>
                            </div>
                            <div class="col-4">
                                <div class="d-flex align-items-center justify-content-center text-center">
                                    <img src="/img/www_laneterralever_com_hubfs_logo.png.png" class="rounded-0 w-50" alt="LaneTerralever" />
                                </div>
                            </div>
                        </div>
                        <div class="row py-5">
                            <div class="col-4">
                                <div class="d-flex align-items-center justify-content-center text-center">
                                    <img src="/img/www_riester_com_contact.png" class="rounded-0 w-75" alt="RIESTER" />
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="text-body-primary ps-4 py-2 text-uppercase border-start border-primary">
                                    <h5>SENIOR .NET DEVELOPER.</h5>
                                    <h5 class="text-primary fw-light">RIESTER</h5>
                                    <div class="text-secondary text-uppercase small">
                                        08/2015 - 08/2016 | Phoenix, AZ
                                    </div>
                                </div>
                                <ul class="fs-6 py-3" style="list-style: disclosure-closed;">
                                    <li>Designed and managed web applications for diverse clients, employing cutting-edge technologies like ASP.NET MVC, Umbraco CMS, Salesforce's Sales Cloud, and ExactTarget.</li>
                                    <li>Leveraged HTML5, CSS3, jQuery, ASP.NET MVC, C#, and Microsoft SQL Server (T-SQL) to craft all web-based applications for clients.</li>
                                    <li>Established and maintained cloud-based ecosystems through Microsoft Azure services, ensuring seamless operations for clients.</li>
                                    <li>Implemented and orchestrated Azure SQL database backups and executed web application analytics configuration for clients.</li>
                                    <li>Offered development progress updates and extended support to fellow developers and designers.</li>
                                    <li>Achieved project completion within designated development timeframes and allocated budgets, demonstrating strong project management abilities.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row py-5">
                            <div class="col-8">
                                <div class="text-body-primary ps-4 py-2 text-uppercase border-start border-primary">
                                    <h5>SENIOR SOFTWARE DEVELOPER - CONSULTANT/CONTRACTS.</h5>
                                    <h5 class="text-primary fw-light"></h5>
                                    <div class="text-secondary text-uppercase small">
                                        02/2011 - 08/2015
                                    </div>
                                </div>
                                <ul class="fs-6 py-3" style="list-style: none;">
                                    <li>
                                        <h5 class="text-primary fw-light">Seacret Direct, LLC</h5>
                                        <div class="text-secondary text-uppercase small pb-3">
                                            Phoenix, AZ
                                        </div>
                                        <ul class="fs-6 pb-5" style="list-style: disclosure-closed;">
                                            <li>Heavily utilized HTML5, CSS3, jQuery, ASP.NET MVC, C#, and Microsoft SQL Server (T-SQL) to develop and design all web-based systems.</li>
                                            <li>Simultaneously developed and maintained multiple web-based products, web applications, and internal applications using .NET technologies.</li>
                                            <li>Updated existing products by documenting, coding, testing, and debugging applications.</li>
                                            <li>Updated web-based user experience with fresh designs and client-side functionality for the company's flagship products.</li>
                                        </ul>
                                    </li>

                                    <li class="border-top border-secondary py-4">
                                        <h5 class="text-primary fw-light">Time America, Inc</h5>
                                        <div class="text-secondary text-uppercase small pb-3">
                                            Scottsdale, AZ
                                        </div>
                                        <ul class="fs-6 pb-5" style="list-style: disclosure-closed;">
                                            <li>Developed and maintained company web-based products, web applications, and internal applications using .NET technologies.</li>
                                            <li>Developed and maintained the company's cloud-based infrastructure using Microsoft Azure services for clientele expansion.</li>
                                            <li>Developed and configured virtual environments for disaster recovery using Microsoft Azure cloud services.</li>
                                            <li>Created full-scale and detailed documentation of the company's entire cloud-based infrastructure.</li>
                                            <li>Heavily utilized Powershell to set up server environments.</li>
                                        </ul>
                                    </li>

                                    <li class="border-top border-secondary py-4">
                                        <h5 class="text-primary fw-light">TBConsulting, LLC</h5>
                                        <div class="text-secondary text-uppercase small pb-3">
                                            Scottsdale, AZ
                                        </div>
                                        <ul class="fs-6 pb-5" style="list-style: disclosure-closed;">
                                            <li>Developed multiple projects for clients such as the Arizona Board of Appraisers, SafeGuard, My Better Business Reviews, & TriWest.</li>
                                            <li>Developed flow-based web applications and workflows in ASP.NET MVC using Windows Azure services, Bootstrap, jQuery, Knockout, and other front-end technologies.</li>
                                            <li>Implemented Web, Microsoft SQL Server clusters, & Windows Azure VM servers for QA testing and production.</li>
                                        </ul>
                                    </li>

                                    <li class="border-top border-secondary py-4">
                                        <h5 class="text-primary fw-light">EMarketing/Prizelogic</h5>
                                        <div class="text-secondary text-uppercase small pb-3">
                                            Scottsdale, AZ
                                        </div>
                                        <ul class="fs-6 pb-5" style="list-style: disclosure-closed;">
                                            <li>Simultaneously worked on multiple projects for clients such as Quaker, Subway, HGTV, OshKosh, Gamestop, T-Mobile, Walmart, Clorox, Zillow, Travelocity, Jennie-O, Dollar General, and Starbucks.</li>
                                            <li>Worked on projects such as instant wins, sweepstakes, user-generated content submissions, Facebook applications, and employee training trivia for mobile devices and tablets in a 1–2-week development time.</li>
                                            <li>Created browser, unit, and system tests, and logs, and managed site launches with deployment teams.</li>
                                            <li>Developed flow-based web applications and workflows in ASP.NET MVC while utilizing T4 templates and scaffolds.</li>
                                        </ul>
                                    </li>

                                    <li class="border-top border-secondary py-4">
                                        <h5 class="text-primary fw-light">Arizona Department of Transportation (ADOT)</h5>
                                        <div class="text-secondary text-uppercase small pb-3">
                                            Phoenix, AZ
                                        </div>
                                        <ul class="fs-6 pb-5" style="list-style: disclosure-closed;">
                                            <li>Heavily utilized HTML5, CSS3, jQuery, ASP.NET MVC, C#, Knockout.js, and Microsoft SQL Server (T-SQL) to develop and design all web-based systems using Microsoft's Metro UI design specifications.</li>
                                            <li>Developed and designed intranet systems for government departments and provided support to 100+ employees & customers.</li>
                                            <li>Provided development status and support to 100+ department employees.</li>
                                            <li>Trained employees in the knowledge of Entity Framework, C#, jQuery, HTML5, and ASP.NET MVC.</li>
                                        </ul>
                                    </li>

                                    <li class="border-top border-secondary py-4">
                                        <h5 class="text-primary fw-light">Navajo Nation Reservation</h5>
                                        <div class="text-secondary text-uppercase small pb-3">
                                            Window Rock, AZ
                                        </div>
                                        <ul class="fs-6 pb-5" style="list-style: disclosure-closed;">
                                            <li>Developed and designed intranet systems for tribal departments and provided support to 100+ employees.</li>
                                            <li>Provided development status and support to 100+ department employees.</li>
                                            <li>Administered servers, networks, and software for 5 tribal departments.</li>
                                            <li>Designed and developed different educational websites with graphical illustrations and animated tutorials.</li>
                                            <li>Prepared estimates of cost, effort, and duration for development tasks and activities.</li>
                                            <li>Developed websites using ASP.NET, ASP.NET MVC, C#, WCF, XSLT Editor to ad hoc reports, Microsoft SQL Server (T-SQL), Oracle, and MySQL for various projects.</li>
                                            <li>Designed and developed system, application, and program code according to business and technical requirements, OWASP standards (Injection, Cross-Site Scripting (XSS), Broken Authentication and Session Management.</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-4">
                                <div class="d-flex align-items-center justify-content-center text-center">
                                    <img src="/img/adobestock_318962839.jpg" class="rounded-4 w-100" alt="CONSULTANT/CONTRACTS" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="d-flex align-items-center justify-content-center text-center">
                                    <h1 class="text-primary fw-light text-uppercase">Glasci</h1>
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="text-body-primary ps-4 py-2 text-uppercase border-start border-primary">
                                    <h5>SENIOR WEB DEVELOPER.</h5>
                                    <h5 class="text-primary fw-light">Glasci</h5>
                                    <div class="text-secondary text-uppercase small">
                                        05/2004 - 02/2011 | Window Rock, AZ
                                    </div>
                                </div>
                                <ul class="fs-6 py-3" style="list-style: disclosure-closed;">
                                    <li>Heavily utilized jQuery, ASP.NET MVC, C#, and Microsoft SQL Server (T-SQL) to develop and design all web-based systems using Microsoft's Metro UI design specifications.</li>
                                    <li>Analyzed requirements and design solutions for approved projects and change requests of high complexity and risk.</li>
                                    <li>Provided development status and support to team developers and designers.</li>
                                    <li>Utilized Microsoft's cloud service Windows Azure production environment.</li>
                                    <li>Assigned various duties including Web page maintenance and design using Agile/Scrum management.</li>
                                    <li>Broad clientele with a heavy emphasis on new business development and partial sales responsibilities.</li>
                                    <li>Built test/beta projects using pre-releases of HTML5, CSS3, jQuery, ASP.NET MVC, and C# using Microsoft's Metro UI design specifications along with TDD methodologies.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private readonly int _year = DateTime.Now.Year;
    private readonly int[] _data = { 2018, 2017, 2017, 2016, 2011, 2012, 2004, 2004, 2004, 2018, 2010 };
    private readonly string[] _labels = { "Blazor", "React", "Angular", "ASP.NET Core", "ASP.NET MVC", "ASP.NET Web API", "ASP.NET Web Forms", "C#", "Microsoft SQL Server", "Neo4j", "Web Service API" };

    private double[] LoadXpTotals()
    {
        int arraySize = _data.Count();
        var totals = new double[arraySize];

        var i = 0;

        foreach (var yr in _data)
        {
            var total = _year - yr;

            totals[i] = total;
            _labels[i] = $"{_labels[i]} - {total} yrs";
            i++;
        }

        return totals;
    }
}
