<div class="navbar navbar-dark pb-0">
    <div class="container-fluid">
        <a class="navbar-brand text-uppercase" href="">Relentless. Results.</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link text-uppercase px-2" href="#About" Match="NavLinkMatch.All">
                > About
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-uppercase px-2" href="#Experience">
                > Experience
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-uppercase px-2" href="#FeaturedWork">
                > Featured Work
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-uppercase px-2" href="#PetProjects">
                > Pet Projects
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-uppercase px-2" href="#Social">
                > Social
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-uppercase px-2" href="#Contact">
                > Contact
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-uppercase px-2" href="#Resume">
                > Resume
            </NavLink>
        </div>
    </nav>
    <div class="row mt-3 mx-auto my-auto">
        <div class="col-12 text-center">
            <a href="https://calendar.app.google/XDLr3HBUx3motSEM8" class="btn btn-primary" target="_blank">Book an appointment</a>
        </div>
    </div>
    <div class="row mt-3 mx-auto my-auto">
        <div class="col-12 text-center">
            <a href="/resume/ray_linder_resume_20240819.pdf" class="btn btn-primary" target="_blank" download>Download the resume</a>
        </div>
    </div>
    <div class="row mt-3 mx-auto my-auto pt-3">
        <div class="col-12 text-center">
            <a href="https://github.com/raylinder" class="p-2" target="_blank"><MudIcon Icon="@Icons.Custom.Brands.GitHub" Title="GitHub" Style="@($"color:{Colors.Gray.Lighten4};")" Size="Size.Large" /></a>
            <a href="https://www.linkedin.com/in/raylinder" class="p-2" target="_blank"><MudIcon Icon="@Icons.Custom.Brands.LinkedIn" Title="LinkedIn" Style="@($"color:{Colors.Gray.Lighten4};")" Size="Size.Large" /></a>
        </div>
    </div>
</div>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
