<div class="row">
    <div class="col-12 py-5">
        <div class="row pt-5">
            <div class="col-12">
                <div class="h4 pb-2 mb-4 fw-light text-primary text-uppercase border-bottom border-secondary" id="PetProjects">
                    Pet Projects.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="text-body-primary ps-4 py-2 border-start border-primary">
                    <h4>JobPin</h4>
                    <div class="text-secondary small">
                        JobPin is a platform to help organize your job opportunities or 'pins'. You can...
                    </div>
                </div>
                <ul class="fs-6 py-2" style="list-style: disclosure-closed;">
                    <li>Easily create pins and manage the progress of each opportunity.</li>
                    <li>Manage your appointments for upcoming events, interviews, and start dates.</li>
                    <li>Maintain your contacts to help build a solid professional relationship.</li>
                    <li>Review pin histories to help establish better opportunities.</li>
                </ul>
                <p>Visit <a href="http://jobpin.app">JobPin</a> (<a href="http://jobpin.app" target="_blank">http://JobPin.app</a>) for more info.</p>

            </div>
        </div>
        <div class="row pt-5">
            <div class="col-12">
                <div class="text-body-primary ps-4 py-2 border-start border-primary">
                    <h4>RayLinder.com</h4>
                    <div class="text-secondary small">
                        Online resume of Ray Linder...
                    </div>
                </div>
                <ul class="fs-6 py-2" style="list-style: disclosure-closed;">
                    <li>Front-end built in Blazor with MudBlazor.</li>
                    <li>API web service back-end build in .NET 8.</li>
                    <li>Project maintained and deployed using Azure DevOps.</li>
                    <li>Website hosted using free Azure hosted services.</li>
                    <li>Repository hosted using GitHub services.</li>
                </ul>
                <p>Visit <a href="https://github.com/raylinder/raylinder.com">Github.com/RayLinder/raylinder.com</a> (<a href="https://github.com/raylinder/raylinder.com" target="_blank">https://github.com/raylinder/raylinder.com</a>) for more info.</p>

            </div>
        </div>
    </div>
</div>


@code {

}
