@page "/About"

@using raylinder.App.Mobile.Components.Layout

<PageHeader />

<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <div class="h3 pb-2 mb-4 fw-light text-primary text-uppercase border-bottom border-secondary" id="About">
                    About.
                </div>
            </div>
        </div>
        <div class="row py-5">
            <div class="col-4">
                <div class="d-flex align-items-center justify-content-center text-center">
                    <img src="./images/20220228_152121~3_552x552.jpg" class="rounded-5 w-75" alt="..." />
                </div>
            </div>
            <div class="col-8">
                <div class="h4 text-body-primary ps-3 text-uppercase border-start border-primary">
                    Senior Software Engineer.
                </div>
                <div class="lead">
                    With two decades of hands-on experience, I offer a deep well of expertise in software engineering. My proven ability to lead high-performing teams,
                    architect scalable solutions, and stay abreast of emerging technologies aligns seamlessly with the demands of the Senior Software Engineer role. I
                    am always excited about opportunities to leverage my experience to drive innovation and contribute to the continued success of the team.
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
