@page "/"

@using raylinder.App.Mobile.Components.Layout

<div class="p-0 pt-5">
    <div class="p-0 pt-5">
        <div class="justify-content-center align-items-center text-center" style="min-height: 100vh;">
            <div class="row py-5 my-5">
                <div class="col-12">
                    <div class="text-center">
                        <img src="./images/20220228_152121~3_552x552.jpg" class="rounded-circle w-50" alt="..." />
                    </div>
                </div>
            </div>
            <div class="row py-3">
                <div class="col-12">
                    <h1 class="display-1 pt-0 mt-0">Ray Linder</h1>
                    <h4 class="text-uppercase text-body-secondary">Senior Software Engineer.</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 py-5">
                <div class="row pt-5">
                    <div class="col-12">
                        <div class="h4 pb-2 mb-4 fw-light text-primary text-uppercase border-bottom border-secondary" id="Social">
                            Social.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 pt-3">
                        <h4>LinkedIn</h4>
                        <p>
                            <a href="http://www.linkedin.com/in/raylinder" target="_blank">http://www.linkedin.com/in/raylinder</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <Contact />
        <div class="row">
            <div class="col-12 py-5">
                <div class="row pt-5">
                    <div class="col-12">
                        <div class="h4 pb-2 mb-4 fw-light text-primary text-uppercase border-bottom border-secondary" id="Resume">
                            Resume.
                        </div>
                    </div>
                </div>
                <div class="row py-5">
                    <div class="col-4">
                        <div class="list-group text-uppercase">
                            <a download target="_blank" href="./resume/ray_linder_resume_20240819.pdf">
                                <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.FileDownload" Color="Color.Primary" Size="Size.Small">Download PDF</MudButton>
                            </a>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="text-center">
                            <img src="https://raylinderstorage.blob.core.windows.net/assets/Ray_Linder_Resume_20240922.png" class="rounded-2 w-100" alt="Ray Linder Resume" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 py-5">
                <div class="row pt-5">
                    <div class="col-12">
                        <div class="h4 pb-2 mb-4 fw-light text-primary text-uppercase border-bottom border-secondary" id="Status">
                            Project Release Status.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <MudCard Class="shadow-sm">
                            <MudCardHeader Class="pb-0">
                                <MudText Typo="Typo.h6" Class="fw-light pb-0">raylinder.com Release Status</MudText>
                            </MudCardHeader>
                            <MudCardContent>
                                <MudStack Spacing="3">
                                    <MudPaper Class="border-1 pa-4">
                                        <MudText Typo="Typo.subtitle2">
                                            Build
                                        </MudText>
                                        <MudText>
                                            <img src="https://dev.azure.com/raylinder/raylinder_com/_apis/build/status/raylinder_com-Build?branchName=release" alt="" />
                                        </MudText>
                                    </MudPaper>
                                    <MudPaper Class="border-1 pa-4">
                                        <MudText Typo="Typo.subtitle2">
                                            Deployment
                                        </MudText>
                                        <MudText>
                                            <img src="https://vsrm.dev.azure.com/raylinder/_apis/public/Release/badge/011b2b75-20aa-42c8-8056-3f55b89be7cf/2/2" alt="" />
                                        </MudText>
                                    </MudPaper>
                                    <MudPaper Class="border-1 pa-4">
                                        <MudText Typo="Typo.subtitle2">
                                            Time Spent
                                        </MudText>
                                        <MudText>
                                            <img src="https://wakatime.com/badge/user/2210aad6-9744-4617-aab9-43ea05f33826/project/dc402183-babc-4e0c-a28e-c3dfbbad3d94.svg?style=flat" alt="wakatime" />
                                        </MudText>
                                    </MudPaper>
                                </MudStack>
                            </MudCardContent>
                        </MudCard>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}


