@page "/PetProjects"
@using raylinder.App.Mobile.Components.Layout

<PageHeader />

<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <div class="h3 pb-2 mb-4 fw-light text-primary text-uppercase border-bottom border-secondary" id="PetProjects">
                    Pet Projects.
                </div>
            </div>
        </div>
        <div class="row pb-5">
            <div class="col-12">
                <div class="text-body-primary ps-4 py-2 mb-3 border-start border-primary">
                    <h4>Kin of Me</h4>
                    <div class="text-secondary small py-2">
                        Kin of Me is a family social network to share moments and save precious family memories.
                    </div>
                    <p>Visit <a href="http://kinofme.com">Kin of Me</a> (<a href="http://kinofme.com" target="_blank">http://KinOfMe.com</a>) for more info.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="text-body-primary ps-4 py-2 border-start border-primary">
                    <h4>RayLinder.com</h4>
                    <div class="text-secondary small py-2">
                        Online resume of Ray Linder...
                    </div>
                    <ul class="ps-4 py-2" style="list-style: disclosure-closed;">
                        <li>Front-end built in Blazor with MudBlazor.</li>
                        <li>API web service back-end build in .NET 8.</li>
                        <li>Project maintained and deployed using Azure DevOps.</li>
                        <li>Website hosted using free Azure hosted services.</li>
                        <li>Repository hosted using GitHub services.</li>
                    </ul>
                    <p>Visit <a href="https://github.com/raylinder/raylinder.com">Github.com/RayLinder/raylinder.com</a> (<a href="https://github.com/raylinder/raylinder.com" target="_blank">https://github.com/raylinder/raylinder.com</a>) for more info.</p>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
