<div class="row">
    <div class="col-12">
        <div class="row pt-5">
            <div class="col-12">
                <div class="h4 pb-2 mb-4 fw-light text-primary text-uppercase border-bottom border-secondary" id="Contact">
                    Contact.
                </div>
            </div>
        </div>
        <div class="row p-1">
            <div class="col-12">
                Phone/Text: 623-282-1141
            </div>
        </div>
        <div class="row p-1">
            <div class="col-12">
                Email: raylinder1@gmail.com
            </div>
        </div>
        <div class="row">
            <div class="col-12 pt-3">
                <a href="https://calendar.app.google/XDLr3HBUx3motSEM8" class="btn btn-primary" target="_blank">Book an appointment</a>
            </div>
        </div>
    </div>
</div>


@code {

}
