@inherits LayoutComponentBase

@using raylinder.App.Mobile.Components.Layout

<MudThemeProvider IsDarkMode="true" Theme="DarkTheme" />
<MudMudAppBarProvider />
<MudNavMenuProvider />

<MudLayout Class="pb-5">

    <div class="top-row">
        <PageHeader />
    </div>

    <main class="pb-5">
        <article class="content pb-5 px-3">
            @Body
        </article>
    </main>

    <NavBottomMenu />

</MudLayout>


@code {
    MudTheme DarkTheme = new MudTheme()
        {
            PaletteLight = new PaletteLight()
            {
                Primary = Colors.Blue.Default,
                Secondary = Colors.Green.Accent4,
                AppbarBackground = Colors.Blue.Default,
            },
            PaletteDark = new PaletteDark()
            {
                Primary = Colors.Blue.Default,
                Secondary = Colors.Blue.Accent4,
                AppbarBackground = Colors.Blue.Darken4,
                Background = Colors.Gray.Darken4,
                DrawerBackground = Colors.Gray.Darken4,
            },

            LayoutProperties = new LayoutProperties()
            {
                DrawerWidthLeft = "260px",
                DrawerWidthRight = "300px"
            }
        };
}